<div class="row">
<div class="large-12 columns">
  <h2><small>Trusted by</small></h2>
</div>
</div>

<div class="row">

  <div class="large-2 medium-6 small-12 columns text-center">
<img src="/images/alaska-airlines.png" class="customer-logo">
</div>
  <div class="large-2 medium-6 small-12 columns text-center">
<img src="/images/kent-fire.png" class="customer-logo">
</div>
<div class="large-2 medium-6 small-12 columns text-center">
<img src="/images/faa.png" class="customer-logo">
</div>
<div class="large-2 medium-6 small-12 columns text-center">
<img src="/images/virgina-mason.png" class="customer-logo">
</div>
<div class="large-2 medium-6 small-12 columns text-center">
<img src="/images/wsdot.png" class="customer-logo">
</div>
<div class="large-2 medium-6 small-12 columns text-center">
<img src="/images/crossfit-burien.png" class="customer-logo">
</div>

</div>
<div class="spacer"></div>
