
<div class="row">
  <div class="12-large columns">
<ul class="clearing-thumbs large-block-grid-6 medium-block-grid-6 small-block-grid-2" data-clearing>
  <li><img data-caption="Alaska Airlines" src="/images/alaska-airlines.png"></li>
  <li><img data-caption="Kent Valley Fire" src="/images/kent-fire.png"></li>
  <li><img data-caption="Washington State Department of Transportation" src="/images/wsdot.png"></li>
  <li><img data-caption="CrossFit Burien" src="images/crossfit-burien.png"></li>
</ul>
</div>
</div>
