<footer>

<div class="row spacer">

  <div class="large-4 medium-4 small-12 columns">

<p><strong>Water Engineering Technologies</strong><br/>18439 East Valley Rd.<br/>
Kent, Washington 98032</p>
</p>


    </div>

  <div class="large-4 medium-4 small-12 columns">
    <p><strong>Contact Information</strong><br/>
    <i class="fa fa-phone"></i><a href="tel:253-893-7520">(253) 893-7520</a><br/>
    <i class="fa fa-envelope-o"></i><a href="mailto: info@wetcoolers.com">info@wetcoolers.com</a><br/>
    <i class="fa fa-envelope-o"></i><a href="mailto: sales@wetcoolers.com">sales@wetcoolers.com</a><br/>
    <i class="fa fa-envelope-o"></i><a href="mailto: service@wetcoolers.com">service@wetcoolers.com</a>


</p>
  </div>

  <div class="large-4 medium-4 small-12 columns">
    <p><strong>Company Information</strong><br/>
      Water Engineering Technologies provides state-of-the art, modern bottle-less water service saving 20% - 50% over traditional bottled water service while increasing the health of people and the environment.</p>

  </div>

</div>

<div class="row">
  <div class="large-12 columns text-center">
    <p><small>&copy; 2015, Water Engineering Technologies, LLC</small></p>

  </div>

</div>





<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/foundation/js/foundation.min.js"></script>
<script src="js/app.js"></script>


</footer>
