<header class="border-bottom">
  <div class="row">
    <div class="12-large columns">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <a href="{{ site.baseurl }}/"><img src="images/wet-logo.png"  style="max-width: 200px; height: auto; padding-bottom: 0; padding-top: 10px;" alt="Water Engineering Technologies" ></a>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="/">Home</a></li>
      <li><a href="/about.html">Company Information</a></li>
      <li><a href="/contact.html">Contact Us</a></li>
      <li class="active"><a href="/free-trial.html">Schedule Free Trial</a></li>
    </ul>
  </section>
</nav>
</div>

</div>
</header>
