header {
  padding-top: 35px;
  background-color: $white;
  color: $primary-color;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;

  a {
    text-decoration: none;
  }
}

.logo img {
  max-width: 150px;
  height: auto;
  padding-bottom: 0;
  padding-top: 10px;
}

.border-bottom {
  border-bottom: 1px solid $silver;
}
