.hero {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 350px;
  background-image: url(../images/hero-background.jpg);
  background-position: center 20%;
  background-repeat: no-repeat;
  background-size: cover;
}

.alpha {
  background: #000, transparent;
  background-color: rgba(0,0,0,0.8);
}

.statement {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}


.industries {
  border-radius: 50%;
  max-height: 150px;
}
