body {
 height: auto;
}


.spacer {
  padding-top:2em;
}

.caption {
  font-size: .75rem;
  color: gray;
}

.border-vertical {
  border-right: 1px solid #DDDDDD;
}

i {
  padding-right: 3px;
}


h1 {
  font-weight: 700;
}

.main {
  margin-top: $topbar-height + 1rem;
}
