body {
 height: auto;
}

.customer-logo {
  max-width: 125px;
  height: auto;
}

.spacer {
  padding-top: 3em;
}

.caption {
  font-size: .75rem;
  color: gray;
}

.border-vertical {
  border-right: 1px solid #DDDDDD;
}

i {
  padding-right: 3px;
}


h1 {
  font-weight: 700;
}
